@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
}

html {
  background: black;
}
